/* * {
  margin: 0;
  padding: ;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(6, 200px);

  grid-gap: 30px;
}
.grid__element {
  font-family: sans-serif;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
  background-color: orange;
  color: green;
  font-size: 18px;
}
